body {
    box-sizing: border-box;
    background-color: #e8e7e3;
}

@font-face {
    font-family: "Playwrite DE Grund", cursive;
    src: url(../fonts/PlaywriteDEGrund-Regular.ttf);
}

@font-face {
    font-family: "Playwrite MX", cursive;
    src: url(../fonts/PlaywriteMX-Regular.ttf);
}
nav{
    justify-content: center;
    display: flex;
}

#fa{
    color: #a09d93;
    font-size: 28px;
    padding-left: 3px;
    position: relative;
    top: 20px;
    left: 8px;
}

#header {
    background-image: url(../media/banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#header>h1 {
    font-family: "Playwrite DE Grund", cursive;
    padding: 12rem 0 2rem 0;
    display: flex;
    justify-content: center;
}
/* .input {
    
border-image: url("../media/border.png") 27 23 ;
height: 7vh;

} */
.has-search input {
    padding-left: 2.375rem;
    border-radius: 30px !important;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #3a3939bb;
}
.col-lg-11{
    /* border: 30px solid pink;
    border-image: url("../media/border.png") 30; */
    background-image: url(../media/border2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* padding: 0  ; */
}
.icons{
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    height: 70px;
    width: 70px;
    align-items: start;
   /* margin-top: 56px; */
   /* border-radius: 50%; */
}
@media screen and (max-width: 575px) {
    .smx {
        width: 90% !important;
    }
    .smx2{
        width: 10% !important;
    }
}

.task{
    margin: 50px;
    padding: 10px 0 0 50px;
    font-weight: 700;
    font-family: "Playwrite MX", cursive;
}
.form-check-input{
    background-color: #a09d93 !important;
}